include _head.jade


.row.hero
  .container
    .five.columns
      h1 Potato Labs
    .seven.columns
      h2 Turn your ideas into reality.
      p Leverage our knowledge and experience to make your project a success.

.row.about
  .container
    h2 Small team, big results.
    p We're a small world-class team based in New York. Our team has experience building software for #{' '}
      a(href="https://www.google.com/") Google
      | #{', '}
      a(href="https://www.uber.com/") Uber
      | , and several startups like #{' '}
      a(href="http://indigo.nyc/") Indigo
      | #{' and '}
      a(href="http://meetbanana.com/") Banana
      | . We are fluent in web, mobile, scaling, and blockchain. We do it all.
    p We take pride in delivering solutions of the highest caliber. You will work directly with us, so we can really understand the problem and produce the best solution for your needs.

.row.contact
  .container
    h2 Let's talk!
    p We create software solutions for companies looking to move fast, iterate, and solve real world problems. If this sounds like you, get in touch with us at #{' '}
      a(href="mailto:potatolabsllc@gmail.com") potatolabsllc@gmail.com
      | .
