include _head.jade

body
  .row.hero
    .container
      .five.columns
        h1 Hester Labs
      .seven.columns
        h2 Turn your ideas into reality.
        p Leverage my knowledge and experience to make your project a success.

  .row.about
    .container
      h2 Small team, big results.
      p I'm a one-man world-class developer based in New York. I have built software for #{' '}
        a(href="https://www.doordash.com") DoorDash
        | #{', '}
        a(href="https://consensys.net/") Consensys
        | #{', '}
        a(href="https://opacity.io/") Opacity
        | #{', and '}
        a(href="https://suzy.com") Suzy
        | , and have founded and developed a portfolio of applications with multiple successful exits. I am fluent in web, mobile, scaling, and blockchain. I do it all.
      p I take pride in delivering products of the highest caliber. You will work directly with me, so I can really understand your problem and produce the best solution for your needs.

  .row.contact
    .container
      h2 Let's talk!
      p I create software solutions for companies looking to move fast, iterate, and solve real world problems. If this sounds like you, get in touch with me at #{' '}
        a(href="mailto:hello@hesterlabs.com") hello@hesterlabs.com


include _footer.jade
